{% extends 'layout.html' %}

{% block body %}


<h1>About Us</h1>

<p>This is a website that I created for Enterprise Web at university. The website allows you to keep track of how much your spending where you can add any amount you have spent at any time and always stay on top of things </p>
<p>You can access all of the functionality using the nav bar on the top of the page. You will need an account to be able to start keeping track of your spendings.</p>
<p>The website was developed with Flask, and uses MySQL databases to store data.</p>
<p>The website was designed with the help of bootstrap <a href="https://github.com/twbs/bootstrap/blob/v4.0.0/LICENSE">LICENSE</a></p>
<p>To create the charts they were done using the Highcharts non commercial licence</p>
{% endblock %}
